@model CumulativeSchoolDatabase.Models.Teacher

<h1>@Model.TeacherFName @Model.TeacherLName</h1>

<nav>
    <a href="/TeacherPage/List">Back to List</a>
    <a class="alert-warning" href="/TeacherPage/DeleteConfirm/@Model.TeacherId">Delete</a>
    <a href="/TeacherPage/Edit/@Model.TeacherId">Edit</a>
</nav>

<div>
    <p><strong>Hire Date:</strong> @Model.HireDate.ToString("yyyy-M-d")</p>
    <p><strong>Employee Number:</strong> @Model.EmployeeNumber</p>
    <p><strong>Salary:</strong> $@Model.Salary.ToString("0.00")</p>
</div>
