@model IEnumerable<CumulativeSchoolDatabase.Models.Students>

<div>
    <a class="btn btn-primary" href="/StudentsPage/New" style="margin-bottom:10px;">Add Student</a>
</div>

<div>
    <a href="/Home/Index" class="btn btn-secondary" style="margin-bottom:10px;">Back to Home</a>
</div>

<h2>Students List</h2>

<div class="list-group">
    @foreach (CumulativeSchoolDatabase.Models.Students Students in Model)
    {
        <div class="list-group-item">
            <a href="/StudentsPage/Show/@Students.StudentId">@Students.StudentFName @Students.StudentLName</a>
        </div>
    }
</div>